@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --foreground: 0 0% 3.9%;
    }
    .dark {
        --foreground: 0 0% 98%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    @keyframes bounceMarquee {
        0% {
            transform: translateX(0%);
        }
        25% {
            transform: translateX(25%);
        }
        50% {
            transform: translateX(50%);
        }
        75% {
            transform: translateX(25%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    .animate-bounce-marquee {
        animation: bounceMarquee 15s linear infinite;
    }

    .AccordionItem {
        overflow: hidden;
        border: none;
    }
}
